.footer {
    background-color: #2f303a;
  }
  .address-phone-join-subscribe {
    @extend %flex-item-centered;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      align-items: baseline;
    }
  }


  .logo-address-join-container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row;
    }
  }


  .address-phone-join {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-address {
    text-align: center;
  
    @media screen and (min-width: $desktop) {
      text-align: left;
      margin-right: 69px;
    }  
  
    
  
    .address-footer {
      margin-top: 20px;
      margin-bottom: 60px;
      color: rgba(255, 255, 255, 0.6);
      font-style: inherit;
      line-height: 2;

      @media screen and (min-width: $desktop) {
        margin-bottom: 0px;
      }
  
      .physical-address {
        color: $primary-white-color;
      }
    }
  }
  
  .join-container {
    text-align: center;
    
    @media screen and (min-width: $tablet) {
      padding-top: 5px;
      margin-left: 165px;
    }
  
    @media screen and (min-width: $desktop) {
      text-align: left;
      padding-top: 12px;
      margin-left: 0px;
    }
    .join {
      color: $primary-white-color;
      text-transform: uppercase;
    }
  
    .social-network-list-footer {
      @extend %flex-item-centered;
      padding-left: 0px;
      margin-top: 20px;
    }
  }
  
  .social-network-list-footer {
    .item + .item {
      margin-left: 10px;
    }
  
    .background-social-network-footer {
      width: 44px;
      height: 44px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      fill: $primary-white-color;
      background-color: #44454e;
      border-radius: 50%;
      transition: background-color $transition-values;
  
      &:hover,
      &:focus {
        background-color: $accent-color;
        outline: none;
      }
    }
  }
  
  .subscribe-container {
    width: 100%;
  max-width: 450px;
  text-align: center;
  margin-top: 60px;

  @media screen and (min-width: $tablet) {
    margin-top: 0px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 12px;
    text-align: left;
    margin-left: 94px;
    max-width: 570px;
  }
  
    .subscribe {
      align-items: center;
      padding-bottom: 20px;
      color: $primary-white-color;
      text-transform: uppercase;
    }
  }